* {
    margin: 0;
    padding: 0;
    outline: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.form-sec {
    height: 100vh;
    position: relative;
    background-color: #101010;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 560px;
}

.form-sec form {
    background-color: white;
    padding: 60px;
}

.form-sec form h1 {
    font-size: 36px;
    line-height: 40px;
    text-align: center;
    margin-bottom: 30px;
}

.field {
    margin-bottom: 20px;
}

.field label {
    font-size: 18px;
    line-height: 26px;
    font-weight: 500;
    color: #101010;
    padding-bottom: 8px;
    display: inline-block;
}

.field input {
    width: calc(100% - 42px);
    font-size: 18px;
    line-height: 22px;
    padding: 15px 20px;
    border-radius: 0;
    border: 1px solid #DDDDDD;
}

.field input:focus {
    border-color: black;
}

.btn {
    width: 100%;
    font-size: 18px;
    line-height: 22px;
    padding: 15px 20px;
    text-align: center;
    color: white;
    background-color: #101010;
    cursor: pointer;
    transition: linear .3s;
}

.btn:hover {
    background-color: black;
}